<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/lib.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body ng-app="Kapp">
{{{body}}}
<script src="/javascripts/allbower_components-min.js"></script>
<script src="/javascripts/appMain.js"></script>
<script src="/javascripts/allCtrls-min.js"></script>
<script src="/javascripts/commonFactory.js"></script>
<script src="/javascripts/commonFilter.js"></script>
</body>
</html>
